body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: black;
}

.Todo-Container {
  height: 70vh;
  width: 600px;
  height: 400px;
  border: 3px solid yellowgreen;
  border-radius: 15px;
  background-color: darkseagreen;
}

.add-todo {
  border: none;
  border-bottom: 2px solid black;
  width: 80%;
  font-size: large;
  background-color: darkseagreen;
  
}

.add-todo:focus {
  outline: none;
}

.task-container {
  width: 80%;
  height: 20px;
  display: flex;
  margin-top: 10px;
  border-radius: 5px;
  background-color: lightgreen;
  text-decoration: line-through;
}











nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: grey;
  padding: 30px 25px;
}

nav h1 {
  color: lightgreen;
}

nav h3 {
  color: yellowgreen;
}

