body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 25px;
}

nav h3 {
  color: brown;
}

.Todo-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  width: 600px;
  height: 400px;
  border: 1px solid white;
  border-radius: 15px;
  background-color: black;
  overflow-y: auto;
}

.Todo-Container::-webkit-scrollbar{
  width: 5px;
}

.Todo-Container::-webkit-scrollbar-track{
  margin-block: 5px;
}

.Todo-Container::-webkit-scrollbar-thumb{
  background: white;
  border-radius:3px;
}

.tracker {
  color: white;
}

.add-todo {
  border: none;
  border-bottom: 2px solid white;
  width: 80%;
  font-size: large;
  color: white;
  background-color: black; 
}

.add-todo:focus {
  outline: none;
}

.add-button {
  color: white;
  background-color: black;
  border: none;
  border-radius: 5px;
}

.task-container {
  width: 80%;
  height: 20px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: large;
}

.button-container{
  display: flex;
  gap: 3px;
}

.completed-task {
  text-decoration: line-through;
  opacity: 0.5;
}

.complete {
  color: lightgreen;
  background-color: black;
  border: 1px solid lightgreen;
  border-radius: 5px;
}

.trash {
  color: red;
  background-color: black;
  border: none;
  border-radius: 5px;
}


.time_container {
  margin-top: 7%;
  border: 1px solid white;
  border-radius: 15px ;
}

.time {
  color: white;
}

.time_button {
  margin-top: 5px;
  color: white;
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
}